.containerModalLevelUp {
  position: relative;
}
.containerModalLevelUp header {
  font-size: 8.75rem;
  font-weight: 600;
  color: var(--blue);
  background: url('/icons/levelup.svg') no-repeat center;
  background-size: contain;
}
.containerModalLevelUp strong {
  font-size: 2.25rem;
  color: var(--title);
}
.containerModalLevelUp p {
  font-size: 1.25rem;
  color: var(--text);
  margin-top: 0.25rem;
}
.containerModalLevelUp button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;
  font-size: 0;
}
